*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #C2D9FF;
}

/* nav part */
nav{
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #190482;
}

nav img{
    width: 110px;
    height: 90px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;      /*make the line become invisible and after 0.5s hover, will show the line below the nav*/
    height: 2px;
    background: #8E8FFA;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.navIcon{
    padding: 5px 20px;
}

.navIcon img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.navIcon img:hover {
    transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
}

.navIcon .navLink.active {
    /* Add styles for the active link */
    background-color: #8E8FFA; /* Change background color to indicate active link */
    border-radius: 50%; /* Example border-radius */
    padding: 5px; 
}

.nav-links ul li a.active {
    /* Add styles for the active link */
    color: #8E8FFA; /* Change color to indicate active link */
    font-weight: bold; 
}


body .header{
    width: 100%;
    height: auto;
    padding: 3%;
}

.header{
    background-image: linear-gradient(rgba(9, 9, 90, 0.95), rgba(3, 3, 70, 0.95)), url('images/eduPro_only_logo.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 3%;
    color: #fff;
}

.header-title{
    font-size: 60px;
    letter-spacing: 1.5;
}

.header-desc{
    font-size: 28px;
    letter-spacing: 1;
    text-align: center;
}

.search {
    width: 60%; /* Adjust the width to make the search bar slightly smaller */
    height: 50px; /* Maintain a reasonable height */
    background-color: #fff;
    margin-top: 5%;
    border-radius: 30px; /* Reduce border-radius for a smoother look */
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.search input {
    width: 75%;
    height: 100%;
    padding: 1% 3%;
    background: transparent;
    border: none;
}

.search button {
    height: 100%;
    min-width: 115px;
    margin-left: 5px; /* Add a smaller margin */
    padding: 0 15px; /* Adjust padding */
    background-color: #6369f5;
    color: var(--white-color);
    border: none;
    border-radius: 20px; /* Match border-radius with the search bar */
    cursor: pointer;
}

.search button:hover {
    background-color: #000;
}

.search input:focus {
    outline: none;
}

.search:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* FAQ */

body .accordion{
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.accordion{
    width: 80%;
    margin: 25px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.accordion .accordion-content{
    border-radius: 4px;
    background: #fff7f0;
    border: 1px solid #ffd6b3;
    padding: 8px;
    margin: 12px 0;
    border: 1px solid #ffd6b3;
    overflow: hidden;
}

.accordion-content.open{
    padding-bottom: 8px;
}

.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: all 0.2s linear;
}

.accordion-content.open header{
    min-height: 35px;;
}

.accordion-content header .title{
    font-size: 17px;
    font-weight: 510;
    color: #333;
    margin-bottom: 10px;
}

.accordion-content header i{
    font-size: 20px;
    color: #333;
}

.accordion-content .desc{
    padding: 0 8px;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    height: 0;
    transition: all 0.2s linear;
    overflow: hidden;
}

/* Report us */

body .container{
    display: flex;
}

.container {
    position: relative;
    width: 85%;
    padding: 50px;
    gap: 80px;
    margin: 20px auto; /* Centering the container horizontally */
    margin-bottom: 20px
}


.left{
    width: 55%;
}

.heading{
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    color: #000;
}

.text{
    font-size: 20px;
    color: #444444;
    margin-top: 10px;
}

form{
    margin-top: 20px;
}

.inputBox{
    position: relative;
    margin-bottom: 20px;
}

.inputBox input, 
.inputBox textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    color: #444444;
    border: none;
    outline: none;
    background-color: #FBF8DD;
}

.inputBox.error input, 
.inputBox.error textarea{
    border-bottom: 1px solid red;
}

.inputBox:not(.error) input:focus, 
.inputBox:not(.error) textarea:focus{
    border-bottom: 1px solid #6369f5;
}

.inputBox textarea{
    height: 150px;
}

.inputBox .err-msg{
    font-size: 12px;
    color: red;
}

.btn{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #6369f5;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover{
    background-color: #7752FE;
}

.right{
    width: 45%;
}

.illustration{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.illustration img{
    width: 100%;
    height: 100%;
    margin: auto;
}

/* hide the icon for larger screen */
nav .fas{
    display: none;
}

/*Footer section*/
footer{
    width: 100%;
    height: fit-content;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 10px;
    
  }
  
  #logo{
    align-self: center;
  }
  
  footer h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
  footer hr{
    width: 95%;
    border-color: #ffffff78;
    border-width: 1px;
    margin-bottom: 0px;
    margin-top: 35px;
  }
  
  footer .frame{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0px;
    margin-left: 150px;
  }
  
  .link{
    width: fit-content;
    font-size: 15px;
    
  }
  
  footer ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
  }
  
  .link a{
    color: #fff;
    text-decoration: none;
  }
  
  .link a:hover{
    color: #8E8FFA;
  }
  
  footer .frame .link:nth-of-type(2){
    width: fit-content;
    margin: 0px;
    padding: 0px;
  }
  
  footer .frame div:nth-of-type(1){
    width: fit-content;
    margin-left: 50px;
  }
  
  footer .frame div:nth-of-type(2) li{
    display: flex;
    width: 300px;
    margin-bottom: 15px;
    margin-right: 0;
    align-items: flex-start;
  }
  
  footer .frame div:nth-of-type(2) img{
    width: 30px;
    margin-right: 10px;
  }
  
  footer p{
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 80px;
  }
  
  footer .frame div:nth-of-type(1) li{
    margin-bottom: 10px;
  }
  
    /* smaller screen */
  
  nav .fas{
    display: none;
  }
  


@media (max-width: 700px){
    .container{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .left,
    .right{
        width: 100%;
    }
    .contact-info{
        margin-top: 40px;
    }
    .social-icons{
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 200px;
        margin: auto;
        padding: 10px 20px;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0;
    }

     /* all change in nav part */
     .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #190482;
        height: 100vh;
        width: 200px;
        top:0;
        /* right changed from 0 to -200px to hide the menu */
        right: -200px;
        text-align: left;
        z-index: 1;    /*higher than 0 so that it appear above "Tutee Tuto Matching.."*/
        transition:1s;
    }
    /* show the menu icon in smaller screen */
    nav .fas{
        display: block;
        color: #fff;
        margin-right: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    nav .fas:hover {
        transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
    }
    
    .nav-links ul{
        padding: 30px;
    }
}