* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    background: linear-gradient(#8E8FFA, #C2D9FF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav img {
    width: 110px;
    height: 90px;
    margin-left: 10px;
}

nav {
    display: flex;
    padding: 5px 5px;
    background-color: #190482;
    position: fixed;
    /* Fixed position */
    top: 0;
    /* Top of the page */
    width: 100%;
    /* Full width */
    z-index: 1000;
    /* Ensure nav is above other content */
}

.box {
    padding: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border: 2px solid #ddd;
    /* Add border */
    text-align: center;
    margin-top: 50px;
    max-width: 600px;
    /* Limit the maximum width of the white box */
}

.box img {
    width: 100px;
    height: 100px;
}


h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
}

#becomeTutorBtn {
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #7752FE;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#doneBtn {
    background-color: #190482;
    border-radius: 20px;
    padding: 8px;
    width: 60%;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

#doneBtn:hover {
    background-color: #7752FE;
}


/* subscription payment*/
h1 {
    font-size: 20px;
}

h2 {
    font-size: 17px;
}

.benefits {
    margin-top: 20px;
    font-size: 15px;
}

.benefits li {
    list-style: none;
    text-align: start;
    margin-top: 5px;
    position: relative;
}

.benefits li::before {
    content: "✔";
    margin-right: 10px;
}

.additional {
    display: flex;
    font-size: 15px;
    margin-bottom: 1px;
}

.additional li {
    margin-left: 40px;
    text-align: start;
}

.close {
    width: 30%;
    padding: 10px 20px;
    margin-top: 8px;
    background-color: #7752FE;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}