*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-size: 15;
}
/* nav part */
nav{
    width: 100%;
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    align-items: center;
    background-color: #190482;
    top: 0;
    z-index: 999;
    position: fixed;
}

nav img{
    width: 110px;
    height: 90px;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;      /*make the line become invisible and after 0.5s hover, will show the line below the nav*/
    height: 2px;
    background: #8E8FFA;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.navIcon{
    padding: 5px 20px;
}

.navIcon img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.navIcon img:hover {
    transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
}

/*To adjust the size of the image after upload*/
#profileIconImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #FFFFFF;
    right: 15px;
    width: 160px;
    height: fit-content;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
  }
  
  #profile {
    width: auto;
    height: auto;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #000000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .logout{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .logout a{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  #logout-ic{
    width: 20px;
    height: auto;
  }
  
  #logout-ic:hover {
    transform: scale(1);
  }
  
  .dropdown-content a:hover {
    background-color: #8E8FFA;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.navIcon .navLink.active {
    /* Add styles for the active link */
    background-color: #8E8FFA; /* Change background color to indicate active link */
    border-radius: 50%; /* Example border-radius */
    padding: 5px; 
}

.nav-links ul li a.active {
    /* Add styles for the active link */
    color: #8E8FFA; /* Change color to indicate active link */
    font-weight: bold; 
}
/* hide the icon for larger screen */
nav .fas{
    display: none;
}

/* smaller screen */
@media(max-width:700px){
    /* all change in nav part */
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #190482;
        height: 100vh;
        width: 200px;
        top:0;
        /* right changed from 0 to -200px to hide the menu */
        right: -200px;
        text-align: left;
        z-index: 1;    /*higher than 0 so that it appear above "Tutee Tuto Matching.."*/
        transition:1s;
    }
    /* show the menu icon in smaller screen */
    nav .fas{
        display: block;
        color: #fff;
        margin-right: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    nav .fas:hover {
        transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
    }
    
    .nav-links ul{
        padding: 30px;
    }

    /* nav part done*/
    .btn {
        /* Other styles */
        flex-direction: column; /* Align buttons vertically */
        align-items: center;
        margin-top: 50px;
        justify-content: center;
    }

    .pay{
        margin: 10px;
    }

    .dropdown-content {
      position: absolute;
      background-color: #FFFFFF;
      left: 0;
      width: 160px;
      height: fit-content;
      border: 2px solid #000000;
      border-radius: 10px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      display: none;
    }

    /*Footer section*/
    footer{
        width: 100%;
        height: fit-content;
        background-color: #000000;
        color: #fff;
        font-size: 15px;
        padding-top: 50px;
        padding-bottom: 10px;
        
      }
    
      #logo{
        margin-right: 10vw;
      }
    
      footer .frame{
        display: flex;
        padding: 0px;
        margin-right: 20vw;
        flex-direction: column;
        align-items: center;
      }
  
      footer .frame div:nth-of-type(1){
        width: 150px;
        margin-right: 10vw;
      }
    
      footer p{
        margin-bottom: 0px;
        margin-top: 10px;
        text-align: center;
        margin-right: 15vw;
      }
}

button {
    padding: 10px 20px;
    background-color: #7752FE;
    width: 30%;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px ;
    margin-bottom: 20px;
}
 
.buttoncontainer{
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.buttonplace{
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #190482;
}


/*For dashboard */
.frame{
        display: flex;
        justify-content: space-between;
        margin: 50px;
    
}

h3{
    font-size: 20px;
}

.teacher-text{
    font-weight: 600;
}

.maindetail{
    flex: 0 0 75%;
    border: 1px solid #767676;
    padding: 20px;
    border-radius: 20px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.studentdetail{
    flex: 0 0 20%;
    border: 1px solid #767676 ;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */

}

/* For smaller screens */
@media (max-width: 1000px) {
    .frame {
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center items horizontally */
    }

    .maindetail,
    .studentdetail {
        width: calc(100% - 40px); /* Set width to 100% minus 40px total padding (20px top + 20px bottom) */
        margin: 20px;
    }
}

.dashboardtitle{
    font-size: 20px;
}

.smalltitle{
    font-size: 16px;
    font-weight: bold;
}

p{
    margin-bottom: 10px;
}

.profile{
    margin-top: 20px;
}

#profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    float: left; /* Floats the image to the left */
    margin-right: 20px; /* Adds some space between the image and text */
}

.teacher-text{
    padding-top: 20px;
}

.points{
    margin-top: 40px;
    font-weight: 600;
    clear: both;
}

#numofstudent {
    padding-left: 40%;
    display: inline-block; /* Ensure the number and text are on the same line */
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-right: 5px; /* Add some space between the number and the text */
}

.student-text {
    display: inline-block; /* Ensure the number and text are on the same line */
    vertical-align: middle; /* Align text vertically with the number */
}

#tutorvideo{
    text-decoration: none;
    color: #7752FE;
}

.btnreport{
    text-align: center;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}

.incenter{
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

#rate{
    text-align: center;
    margin-top: 5px;
}

/*Footer section*/
footer{
    width: 100%;
    height: fit-content;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 10px;
    
  }

  #logo{
    align-self: center;
  }

  footer h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  footer hr{
    width: 95%;
    border-color: #ffffff78;
    border-width: 1px;
    margin-bottom: 0px;
    margin-top: 35px;
  }

  footer .frame{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 0px;
    margin-left: 150px;
  }

  .link{
    width: fit-content;
    font-size: 15px;
    
  }

  footer ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
  }

  .link a{
    color: #fff;
    text-decoration: none;
  }

  .link a:hover{
    color: #8E8FFA;
  }

  footer .frame .link:nth-of-type(2){
    width: fit-content;
    margin: 0px;
    padding: 0px;
  }

  footer .frame div:nth-of-type(1){
    width: fit-content;
    margin-left: 50px;
  }

  footer .frame div:nth-of-type(2) li{
    display: flex;
    width: 300px;
    margin-bottom: 15px;
    margin-right: 0;
    align-items: flex-start;
  }

  footer .frame div:nth-of-type(2) img{
    width: 30px;
    margin-right: 10px;
  }

  footer p{
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 80px;
  }

  footer .frame div:nth-of-type(1) li{
    margin-bottom: 10px;
  }

  .filled{
    background-color: #FFFFFF;
  }