body {
  margin: 0; 
  padding: 0; 
}

.header{
  width: 100%;
  min-height: 10em;
  height: auto; 
  background-color: #190482;
  border-radius: 0 0 40px 40px;
}

.logo {
  position: absolute;
  width: 10%; 
  height: auto;
  top: 33px;
  left: 38px;
}

.content {
  width: 55%; 
  float: left;
  margin: 4%;
  padding: 3%;
  background: white;
  border: 3px #C2D9FF solid;
  border-radius: 30px;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  font-family: "Inter", Helvetica;
  margin-bottom: 16px;
}

.profile_container {
  display: inline-block;
}

.profile_pic {
  width: 120px; 
  height: 120px; 
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}


.labels {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Inter", Helvetica;
}

.nugget_facts {
  margin: 20px;
  display: flex;
  font-family: "Inter", Helvetica;
}

.mini_icon {
  margin-left: 20px; 
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.details {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Inter", Helvetica;
}

.par {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.CTA {
  width: 20%; 
  float: right;
  margin: 50px 4% 0 0;
  padding: 20px;
  background: white;
  border: 3px #C2D9FF solid;
  border-radius: 30px;
  text-align: center;
}

.labeled_button {
  background-color: #7752FE;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Inter", Helvetica;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 768px) {
  .content {
    float: none;
    width: 80%;
    margin: 50px auto;
  }

  .CTA {
    float: none;
    width: 60%; 
    margin: 50px auto; 
    padding: 20px;
    background: white;
    border: 3px #C2D9FF solid;
    border-radius: 30px;
    text-align: center;
  }
  .nugget_facts {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    font-family: "Inter", Helvetica;
  }
  .profile_pic {
    width: 80px; 
    height: 80px; 
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .header{
    position: relative;
    width: 100%;
    min-height: 6em;
    height: auto;
    max-height: 10em;
    background-color: #190482;
    border-radius: 0 0 40px 40px;
  }
}
