/* nav part */
nav{
  display: flex;
  padding: 5px 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #190482;
  font-family: "Poppins", sans-serif;
}

nav img{
  width: 110px;
  height: 90px;
}

.nav-links{
  flex: 1;
  text-align: center;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position:relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: "";
  width: 0%;      /*make the line become invisible and after 0.5s hover, will show the line below the nav*/
  height: 2px;
  background: #8E8FFA;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.navIcon{
  padding: 5px 20px;
}

.navIcon img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.navIcon img:hover {
  transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
}

.navIcon .navLink.active {
  /* Add styles for the active link */
  background-color: #8E8FFA; /* Change background color to indicate active link */
  border-radius: 50%; /* Example border-radius */
  padding: 5px; 
}

.nav-links ul li a.active {
  /* Add styles for the active link */
  color: #8E8FFA; /* Change color to indicate active link */
  font-weight: bold; 
}

/* hide the icon for larger screen */
nav .fas{
  display: none;
}


body {
  margin: 0; 
  padding: 0; 
}

.header{
  width: 100%;
  min-height: 10em;
  height: auto; 
  background-color: #190482;
  border-radius: 0 0 40px 40px;
}

.logo {
  position: absolute;
  width: 10%; 
  height: auto;
  top: 33px;
  left: 38px;
}

.content {
  width: 55%; 
  float: left;
  margin: 4%;
  padding: 3%;
  background: white;
  border: 3px #C2D9FF solid;
  border-radius: 30px;
  margin-top: 50px;
}

.title {
  font-size: 24px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  margin-bottom: 16px;
}

.profile_container {
  display: inline-block;
}

.profile_pic {
  width: 120px; 
  height: 120px; 
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}


.labels {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Poppins", Helvetica;
  font-weight:600;
}

.nugget_facts {
  margin: 20px;
  display: flex;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
}

.mini_icon {
  margin-left: 20px; 
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.details {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Poppins", Helvetica;
}

.par {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.CTA {
  width: 20%; 
  float: right;
  margin: 50px 4% 0 0;
  padding: 20px;
  background: white;
  border: 3px #C2D9FF solid;
  border-radius: 30px;
  text-align: center;
}

.labeled_button {
  background-color: #7752FE;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", Helvetica;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 768px) {
  .content {
    float: none;
    width: 80%;
    margin: 50px auto;
  }

  .CTA {
    float: none;
    width: 60%; 
    margin: 50px auto; 
    padding: 20px;
    background: white;
    border: 3px #C2D9FF solid;
    border-radius: 30px;
    text-align: center;
  }
  .nugget_facts {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    font-family: "Poppins", Helvetica;
  }
  .profile_pic {
    width: 80px; 
    height: 80px; 
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .header{
    position: relative;
    width: 100%;
    min-height: 6em;
    height: auto;
    max-height: 10em;
    background-color: #190482;
    border-radius: 0 0 40px 40px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
      position: absolute;
      background: #190482;
      height: 100vh;
      width: 200px;
      top:0;
      /* right changed from 0 to -200px to hide the menu */
      right: -200px;
      text-align: left;
      z-index: 1;    /*higher than 0 so that it appear above "Tutee Tuto Matching.."*/
      transition:1s;
  }
  /* show the menu icon in smaller screen */
  nav .fas{
      display: block;
      color: #fff;
      margin-right: 10px;
      font-size: 20px;
      cursor: pointer;
      transition: transform 0.3s ease;
  }

  nav .fas:hover {
      transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
  }

  .nav-links ul{
      padding: 30px;
  }

}
