<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="./images/eduPro_logo.jpg">
    <link rel="stylesheet" href="/css/feedback.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Rating</title>
</head>

<body>
    <div id="feedbackDialog" class="feedback-dialog">
        <div class="split">
            <div class="left">
                <div class="img">
                    <h1>Any thoughts?</h1>
                    <img src="images/undraw_feedback_re_urmj.svg" alt="">
                </div>
            </div>

            <div class="right">
                <h1>Share Your Feedback</h1>
                <h3>Rate your experience</h3>
                <form id="feedbackForm" action="/feedback" method="POST">
                    <div class="stars">
                        <% for (let i=1; i <=5; i++) { %>
                            <input type="radio" id="rating<%= i %>" name="rating" value="<%= i %>" required>
                            <label for="rating<%= i %>"><i class="fa fa-star"></i></label>
                            <% } %>
                    </div>

                    <div class="textarea">
                        <h3>Comment (Optional)</h3>
                        <textarea id="feedbackTextarea" name="message" cols="50" rows="8"
                            placeholder="Feedback"></textarea>
                    </div>

                    <div class="anonymous">
                        <h3>Set it as anonymous?</h3>
                        <input type="checkbox" id="check" name="anonymous">
                        <label for="check" class="toggle"></label>
                    </div>

                    <div class="btn">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <button id="closeFeedbackBtn" class="close-feedback-btn">&times;</button>
    </div>

    <!-- JavaScript -->
    <script src="js/feedback.js"></script>
</body>

</html>