<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="./images/eduPro_logo.jpg">
    <link rel="stylesheet" href="/css/feedback.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Rating</title>
</head>

<body>
    <div class="split">
        <div class="left">
            <div class="img">
                <h1>Any thoughts?</h1>
                <img src="images/undraw_feedback_re_urmj.svg" alt="">
            </div>
        </div>

        <div class="right">
            <h1>Share Your Feedback</h1>
            <h3>Rate your experience</h3>
            <div class="stars">
                <% for (let i = 0; i < 5; i++) { %>
                    <i class="fa-solid fa-star" name="star_rating"></i>
                <% } %>
            </div>

            <form id="feedbackForm" action="#">
                <div class="textarea">
                    <h3>Comment (Optional)</h3>
                    <textarea id="feedbackTextarea" cols="50" rows="8" placeholder="Feedback" name="comment"></textarea>
                </div>

                <div class="anonymous">
                    <h3>Set it as anonymous?</h3>
                    <input type="checkbox" id="check" name="anonymous">
                    <label for="check" class="toggle"></label>
                </div>

                <div class="btn">
                    <button type="submit" class="btn" onclick="openPopup()">Submit</button>
                    <div class="pop-up" id="popup">
                        <i class="fa-solid fa-circle-check"></i>
                        <h2>Thank you!</h2>
                        <p>Your feedback is incredibly valuable to us, as it helps us continuously improve and
                            refine our services
                            to better meet your needs and preferences.</p>
                        <button type="button" onclick="closePopup()">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/feedback.js"></script>
    <script src="/js/nav.js"></script>

</body>

</html>