<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="css/inbox.css" />
</head>
<body>
    <h1>Inbox</h1>
    <ul id="conversationList">
        <% conversations.forEach(conversation => { 
            const participant = conversation.participants.find(participant => participant._id.toString() !== user._id.toString());
        %>
            <li data-id="<%= participant._id %>">
                <a href="/chat/<%= participant._id %>">
                    Conversation with <%= participant.name %>
                </a>
            </li>
        <% }); %>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const conversationList = document.getElementById('conversationList');
            const conversationItems = Array.from(conversationList.getElementsByTagName('li'));

            const seenIds = new Set();

            conversationItems.forEach(item => {
                const participantId = item.getAttribute('data-id');
                if (seenIds.has(participantId)) {
                    item.remove();
                } else {
                    seenIds.add(participantId);
                }
            });
        });
    </script>
</body>
</html>
