<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/eduPro_logo.jpg">
  <title>Reset Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="/css/reset_password.css">
  <!-- font family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@200;300;400;600;700&display=swap"
    rel="stylesheet">
</head>
<body>
  <div class="container">
    <h2>Reset Your Password</h2>
    <form id="reset-password-form" action="/reset-password/<%= token %>" method="post" onsubmit="return validatePasswords();">
      <div class="form-group">
        <label id="password-label" for="password">New Password</label>
        <div class="pswd-group">
          <input type="password" id="password" name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])(?=.*\S).{8,}"
            title="Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be at least 8 characters long."
            placeholder="Enter new password" required>
          <i class="far fa-eye-slash" id="togglePassword"></i>
        </div>
      </div>
      <div class="form-group">
        <label id="confirm-password-label" for="confirm_password">Confirm Password</label>
        <div class="pswd-group">
          <input type="password" id="confirm_password" name="confirm_password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_])(?=.*\S).{8,}"
            title="Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be at least 8 characters long."
            placeholder="Confirm new password" required>
          <i class="far fa-eye-slash" id="toggleConfirmPassword"></i>
        </div>
      </div>
      <button type="submit">Reset Password</button>
    </form>
  </div>
</body>
<script src="/js/signin.js"></script>
<script src="/js/reset_password.js"></script>
</html>
