/* chat_room.css */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #C2D9FF;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  background-color: #190482;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  max-width: 800px;
  width: 100%;
  margin: 25px auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border-bottom: 4px solid #ddd;
  margin-bottom: 20px;
}

.message-left, .message-right {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  max-width: 70%;
}

.message-left {
  background-color: #C2D9FF;
  align-self: flex-start;
}

.message-right {
  background-color: #7b58fa;
  color: #ffffff;
  align-self: flex-end;
  margin-left: auto; 
}

.message-right p, .message-left p {
  margin: 0;
}

.message-left small {
  display: block;
  margin-top: 15px;
  font-size: 0.8em;
  color: #2b2b2b;
}

.message-right small{
  display: block;
  margin-top: 15px;
  font-size: 0.8em;
  color: #bcbcbc;
}

#message-form {
  display: flex;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

#message-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1em;
}

#message-form button {
  background-color: #7752FE;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

#message-form button:hover {
  background-color: #593ac0;
}
