* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  font-size: 15px;
}

/* nav part */
nav {
  width: 100%;
  display: flex;
  padding: 5px 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #190482;
  top: 0;
  z-index: 999;
  position: fixed;
}

nav img {
  width: 110px;
  height: auto;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%; /*make the line become invisible and after 0.5s hover, will show the line below the nav*/
  height: 2px;
  background: #8e8ffa;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.navIcon {
  padding: 5px 20px;
}

.navIcon img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.navIcon img:hover {
  transform: scale(1.2); /* Enlarge the image by 20% when hovering over it */
}

/*To adjust the size of the image after upload*/
#profileIconImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/*dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  right: 15px;
  width: 160px;
  height: fit-content;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

#profile {
  width: auto;
  height: auto;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #000000;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logout a {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: block;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#logout-ic {
  width: 20px;
  height: auto;
}

#logout-ic:hover {
  transform: scale(1);
}

.dropdown-content a:hover {
  background-color: #8e8ffa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navIcon .navLink.active {
  /* Add styles for the active link */
  background-color: #8e8ffa; /* Change background color to indicate active link */
  border-radius: 50%; /* Example border-radius */
  padding: 5px;
}

.nav-links ul li a.active {
  /* Add styles for the active link */
  color: #8e8ffa; /* Change color to indicate active link */
  font-weight: bold;
}
/* hide the icon for larger screen */
nav .fas {
  display: none;
}
