@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
  transition: all .2s linear;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: auto;
  background-color: #8E8FFA;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 80px 20px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
}

label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

input {
  width: 300px;
  padding: 10px;
  border: 1px solid #C9C8C8;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
}

::placeholder {
  color: #929292;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.pswd-group {
  position: relative;
}

.pswd-group input[type="password"] {
  padding-right: 40px;
}

#togglePassword, #toggleConfirmPassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  width: 100%;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
  background-color: #190482;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover {
  color: #000000;  
  background-color: #8E8FFA;
}

@media (max-width: 700px) {
  .container {
    padding: 50px;
  }
}
